
/* @import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&family=Outfit:wght@100;200;300;400;600;700;800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');



*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
    color: white;
    text-decoration: none;
    
font-family: 'Outfit', sans-serif;
}

body{
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

/* Header */

.hamburger{
	position:fixed;
  background-color:transparent;
	right:0;
	top:0;
	height:30px;
	width:30px;
	padding:40px 90px;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	z-index:1002;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}
.hamburger.is-active{
  background-color:none;
}
._layer{
	background:#ffffff;
	margin-bottom:4px;
	border-radius:2px;
	width:28px;
	height:4px;
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
.hamburger:hover .-top{
	-webkit-transform:translateY(-100%);
	-ms-transform:translateY(-100%);
	transform:translateY(-100%);
}
.hamburger:hover .-bottom{
	-webkit-transform:translateY(50%);
	-ms-transform:translateY(100%);
	transform:translateY(100%);
	}
.hamburger.is-active .-top{
	-webkit-transform:translateY(200%) rotate(45deg) !important;
	-ms-transform:translateY(200%) rotate(45deg) !important;
	transform:translateY(200%) rotate(45deg) !important;
}
.hamburger.is-active .-mid{
	opacity:0;
}
.hamburger.is-active .-bottom{
	-webkit-transform:translateY(-200%) rotate(135deg) !important;
	-ms-transform:translateY(-200%) rotate(135deg) !important;
	transform:translateY(-200%) rotate(135deg) !important;
}

.menuppal.is_active{
  transform: translate3d(0px, 0px, 0px);
}
.menuppal{
   background-color: rgba(0, 0, 0, 0.703);
    bottom: 0;
    height: 100%;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    transform: translate3d(0px, -100%, 0px);
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    width: 100%;
    z-index: 1001;
}
.menuppal ul{
  margin:0;padding:0;
}
.menuppal ul li { 
  list-style: none;
	text-align:center;
	font-size:80px;
    font-weight: 800;
    padding: 20px;
    margin: 60px 0 20px 0;
	line-height:3em;
	height:3em;
    color:#369;
	text-transform:none;
	font-weight:bold;
}
.menuppal ul li a{
  text-decoration:none;
  color:rgb(255, 255, 255);
}
.menuppal ul li a:hover{
  text-decoration:none;
  color:#ff0073;
}



/* Presentacion section */


.presentacion{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto; 
    text-align: center;
    background-image: url(/img/background1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

.name{
    background-image: linear-gradient(to right, #881dfb 10%, #ff0073 100%);
  -webkit-background-clip: text;
  color: transparent; 
}

.tarjeta-pre{
    font-size: 80px;
    color: white;
}

.btn-pre{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    background-color: #4c1929;
    color: #666;
    border-radius: 15px;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 600;
    height: 30px;
    padding: 10px;
    transition: all 0.3ms linear;
}

.btn-pre:hover{
    background-color: rgb(147, 28, 62);
    color: white;
    width: 42%;
    height: 30px;
}


.tarjeta-pre p{
    font-size: 25px;
    margin-bottom: 70px;
    margin-top: 20px;
    font-weight: 600;
}


/* About me  */

.about-me{
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    color: white;
    width: 100%;
    height: 750px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    /* grid-gap: 50px; */
    
    
}

.tarjeta{
    width: 90%;
    margin: auto;
}



.tarjeta h2{
    margin: 20px 0 10px 0;
    font-size: 60px;
    font-weight: 700;
    background-image: linear-gradient(to right, #881dfb 10%, #ff0073 100%);
  -webkit-background-clip: text;
  color: transparent; 

}

.tarjeta h3{
    font-size: 15px;
    margin: 5px 10px 0 10px;
    text-align: center;
    font-weight: 600;
    color: #666;
}

#pres{
    font-size: 20px;
    padding: 20px;
    margin: 20px 10px 0 20px;
    color: antiquewhite;
    text-align: justify;
    margin-bottom: 30px;
    line-height: 25px;
    font-weight: 600;
    letter-spacing: 0.5px;
} 

.contenedor-button{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.btn-resume{
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    color: #750538;
    border-radius: 20px;
    margin-top: 20px;
    transition: all 0.2s linear;
}

.btn-resume, img{
    vertical-align:middle;
}  


.btn-resume:hover{
    background-color: #fb5fa5a7;
}

.btn-resume, .icon{
    padding: 0px;
    vertical-align:middle;
}

.contenedor-button1{
    width: 100%;
    text-align: center;
}

.btn-resume1, .icon{
    width: 28px;
    padding: 8px;
    vertical-align:middle;
}  


.btn-resume1{
    background-color: rgba(255, 255, 255, 0.721);
    font-size: 22px;
    color: gray;
    border-radius: 20px;
    transition: all 0.2s linear;  
    padding: 10px;
}

.btn-resume1:hover{
    background-color:#ff0073;
    font-weight: 700;
    padding: 15px;
    color: white;
}

/* fondo triangulos */

.container__background{
    
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.triangle{
    width: 200px;
    height: 200px;
    background: red;
    position: absolute;
}

.triangle1{
    width: 180px;
    height: 180px;
    background: linear-gradient(to left, #0ea1e6, #1e67c7);
    right: 100px;
    bottom: 100px;
    animation: t1 ease-in-out 9s infinite;
    
}

.triangle2{
    width: 280px;
    height: 280px;
    background: linear-gradient(to left, rgb(180, 85, 218), rgb(47, 27, 231));
    right: 120px;
    top: 50px;
    animation: t2 ease-out 9s infinite;
    
}

.triangle3{
    width: 280px;
    height: 280px;
    background: linear-gradient(to left, rgb(251, 82, 4), rgb(238, 195, 5));
    left: 200px;
    bottom: 80px;
    animation: t3 ease-in 9s infinite;
    
}

@keyframes t1{
    0%{
        transform: rotate(45deg) translateY(0px);
        
    }
    50%{
        transform: rotate(45deg) translateY(-80px);
    }
    100%{
        transform: rotate(45deg) translateY(0px);
    }
}

@keyframes t2{
    0%{
        transform: rotate(65deg) translateY(-60px);
        
    }
    50%{
        transform: rotate(65deg) translateY(60px);
    }
    100%{
        transform: rotate(65deg) translateY(0px);
    }
}

@keyframes t3{
    0%{
        transform: rotate(45deg) translateY(0px);
        
    }
    50%{
        transform: rotate(45deg) translateY(100px);
    }
    100%{
        transform: rotate(45deg) translateY(0px);
    }
}





/* tarjeta genaro */

.tarjeta2{
    width: 100%;
    display: flex;
    justify-content: center;
}

.card-genaro{
    width: 300px;
    height: 480px;
    background-color:#343b3c1c;
    border-radius: 20px;
    padding: 5px;
    background:linear-gradient(to right, hsla(269, 97%, 55%, 0.4) 10%, hsla(333, 100%, 50%, 0.4) 100%);
    /* background: linear-gradient(#ff730055,#4441ff52); */

    border-left: 0.5px solid rgba(255, 255, 255, 0.431);
    border-top: 0.5px solid rgba(255, 255, 255, 0.431);
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
}

.card-genaro h4{
    color: white;
    font-size: 22px;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    letter-spacing: 2px;
    font-weight: 500;
    filter:drop-shadow(0 8px 8px rgba(0,0,0,0.5));
    font-weight: 600;
    margin-bottom: 10px;
}


.card-genaro .avatar{
    width: 280px;
    height: 320px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.card-genaro p{
    padding: 20px 0 10px 0;
    text-align: center;
    font-weight: 400;
    filter:drop-shadow(0 8px 8px rgba(0,0,0,0.5));
}


/* ´prtfolio */

.porfolio1{
    width: 100%;
    height: 1050px;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

h2{
    font-size: 50px;
    text-align: center;
    margin: 0px 0 10px 0;
    padding: 20px;
    background-image: linear-gradient(to top, #e14fad 0%, #f9d423 100%);
  -webkit-background-clip: text;
  color: transparent; 
}

hr{
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
}

.final{
    width: 100%;
    margin-bottom: 0;
}
.porfolio{
    width: 100%;
    height: 850px;
    display: grid;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr;  
}

.port{
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    width: 100%;
    border-radius: 5px;
    box-shadow: 8px 8px 8px rgba(0,0,0,0.4);
    
}

.t1{
    background-image: url(/img.por/nucbaart.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position-x: -210px;
}

.t2{
    background-image: url(/img.por/sunnyside.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position-x: -210px;
}

.t3{
    background-image: url(/img.por/superhero.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position-x: -210px;
}

.t4{
    background-image: url(/img.por/pokedex.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position-x: -120px;
    
}

.t5{
    background-image: url(/img.por/woolfie.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position-x: -10px;
}

.t6{
    background-image: url(/img.por/snake.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position-x: -90px;
}


.t1, .t2, .t3, .t4, .t5, .t6{
    width: 320px;
    height: 340px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.526);
    filter:drop-shadow(0 8px 8px rgba(0,0,0,0.2));
    display: grid;
    text-align: center;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-left: 0.5px solid rgba(255, 255, 255, 0.431);
    border-top: 0.5px solid rgba(255, 255, 255, 0.431);
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
}


.portfolio, .port{
    font-size: 20px;
    font-weight: 800;
    padding: 10px;
}

/* Formulario contacto 

.contact_form{  
    
  width: 460px; 
  height: auto;
  margin: 80px auto;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: rgba(238, 238, 238, 0.318); 
  padding-left: 30px; 

    border-left: 1px solid rgba(255, 255, 255, 0.431);
    border-top: 1px solid rgba(255, 255, 255, 0.431);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.218);
    backdrop-filter: blur(5px);
}


input{
  background-color: #fbfbfb; 
  width: 408px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #ab4493; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
  width: 405px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #ab4493; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: flex; 
  justify-content: start;
}


button{
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 20px; 
  margin-top: 10px;   
  text-transform: uppercase;
  background-color: #750538; 
  border-color: #750538; 
  border-style: solid; 
  border-radius: 10px;  
  width: 420px;   
  cursor: pointer;
}

button:hover{
    background-color:#ff0073ce;
    border-color: #ff0073ce;
    font-weight: 600;
    letter-spacing: 1px;
    border-left: 2px solid rgba(255, 255, 255, 0.431);
    border-top: 2px solid rgba(255, 255, 255, 0.431);
}


button p{
  color: #fff; 
}


span{
  color: #ab4493; 
}


.aviso{
  font-size: 13px; 
  color: #ffffff;  
}

.formulario h2{
    font-size: 45px;
    width: 80%;
    text-align: center;
    padding: 30px;
    background-image: linear-gradient(to top, #e14fad 0%, #f9d423 100%);
  -webkit-background-clip: text;
  color: transparent; 
}



h3{
    margin: auto;
  width: 90%;
  font-size: 18px;
  text-align: left; 
  padding-bottom: 30px; 
  color: white;
}


p{
  font-size: 14px; 
  color: #0e0e0e; 
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
  outline:0;
  border: 1px solid #97d848;
}


.formulario textarea:focus{
  outline:0;
  border: 1px solid #97d848;
}



/* FOOTER */

footer{
    background-color: #1e2425;
    width: 100%;
    height: 80px;
    text-align: center;
}

footer h6{
    color: white;
    position: relative;
    top: 30px;
    font-size: 15px;
    letter-spacing: 1px;
    transition: all 0.3ms ease;
}

footer h6:hover{
    color: #ff0073;
    
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
    /* Presentacion section */

.name{
    background-image: linear-gradient(to right, #881dfb 10%, #ff0073 100%);
  -webkit-background-clip: text;
  color: transparent; 
}

.tarjeta-pre{
    font-size: 70px;
    color: white;
    width: 80%;
}

.tarjeta-pre p{
    font-size: 20px;
}


/* About me  */

.about-me{
    height: 1250px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    grid-gap: 5px;
    margin: auto;
    border-radius: 20px;
    margin-top: 20px;
}
.about-me h2{
    font-size: 50px;
}

.tarjeta{
    width: 80%;
    margin: auto;
}


/* Portfolio */


.porfolio1{
    width: 100%;
    height: 1350px;
}

.porfolio{
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;  
}

hr{
    width: 40%;
    margin: 0px auto 50px auto;
}


.port{
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    width: 100%;
    border-radius: 5px;
    box-shadow: 8px 8px 8px rgba(0,0,0,0.4);
    
}

.container__background{
    display: none;
}

.card-genaro{
    width: 330px;
    height: 520px;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.card-genaro h4{
    font-size: 25px;
    margin-bottom: 10px;
}

.card-genaro .avatar{
    width: 310px;
    height: 350px;

}

.card-genaro p{
    padding: 20px 0 5px 0;
    text-align: center;
    font-weight: 400;
    filter:drop-shadow(0 8px 8px rgba(0,0,0,0.5));
}

.contenedor-button{
    margin: 5px auto 15px auto;
}

}

@media only screen and (min-width: 481px) and (max-width: 768px){
    .container__background{
        display: none;
    }

    .tarjeta-pre{
        font-size: 70px;
        color: white;
        width: 70%;
    }
    
    .tarjeta-pre p{
        font-size: 20px;
    }


    /* About me  */

    .about-me{
        height: 1250px;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        grid-gap: 15px;
        margin: auto;
        border-radius: 20px;
        margin-top: 20px;
    }

    .about-me h2{
        font-size: 50px;
    }

    .tarjeta{
        width: 70%;
        margin: auto;
    }

    #pres{
        font-size: 16px;
    }

    .contenedor-button{
        margin: 5px auto 15px auto;
    }
    

    
    .card-genaro{
        width: 330px;
        height: 520px;
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
    }
    
    .card-genaro h4{
        font-size: 25px;
        margin-bottom: 10px;
    }

    .card-genaro .avatar{
        width: 310px;
        height: 350px;
    }

    .card-genaro p{
        padding: 20px 0 5px 0;
        text-align: center;
        font-weight: 400;
        filter:drop-shadow(0 8px 8px rgba(0,0,0,0.5));
    }


    /* Portfolio */

    h2{
        font-size: 50px;
        text-align: center;
        margin: 50px 0 10px 0;
        padding: 8px;
        background-image: linear-gradient(to top, #e14fad 0%, #f9d423 100%);
      -webkit-background-clip: text;
      color: transparent; 
    }
    
    hr{
        width: 40%;
        margin: 0px auto 50px auto;
    }
    

    .porfolio1{
        width: 100%;
        height: 2900px;
    }
    
    .porfolio{
        grid-gap: 50px;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;  
    }

    .t1, .t2, .t3, .t4, .t5, .t6{
        width: 380px;
        height: 410px;
        border-radius: 10px;
    }

}